In [2]:
df <- read.csv('mlbootcamp5_train.csv')
head(df)

  id age   gender height weight ap_hi ap_lo cholesterol gluc smoke alco active
1 0  18393 2      168    62     110    80   1           1    0     0    1
2 1  20228 1      156    85     140    90   3           1    0     0    1
3 2  18857 1      165    64     130    70   3           1    0     0    0
4 3  17623 2      169    82     150   100   1           1    0     0    1
5 4  17474 1      156    56     100    60   1           1    0     0    0
6 8  21914 1      151    67     120    80   2           2    0     0    0
  cardio
1 0
2 1
3 1
4 1
5 0
6 0

### Задание 1.
___Сколько мужчин и женщин представлено в этом наборе данных?___

_Для начала выясним по среднему росту какой цифрой в наборе данных обозначаются гендеры обоих полов:_

In [23]:
mean(df$height[df$gender == 1])
mean(df$height[df$gender == 2])

[1] 161.3556

[1] 169.9479

_Вывод: цифрой "2" обозначаются мужчины, а "1" - женщины._ 

__Сосчитаем их количество:__

In [25]:
female <- which((df$gender == 1) == TRUE) # для упрощения дальнейшей работы введём отдельные переменные для обоих полов
length(female)

[1] 45530

In [24]:
male <- which((df$gender == 2) == TRUE)
length(male)

[1] 24470

### Задание 2. 
___Кто в среднем реже указывает, что употребляет алкоголь – мужчины или женщины?___

In [33]:
alco_fem <- length(which((df$alco == 1) & (df$gender == 1)) == TRUE)
alco_fem

[1] 1161

In [34]:
alco_m <- length(which((df$alco == 1) & (df$gender == 2)) == TRUE)
alco_m

[1] 2603

_Вывод: женщины в среднем реже указывают, что употребляют алкоголь._

### Задание 3.
___Во сколько раз (округленно) процент курящих среди мужчин больше, чем процент курящих среди женщин?___

In [42]:
per_smoke_fem <- (length(which((df$smoke == 1) & (df$gender == 1)) == TRUE) / length(female)) # считаем сразу в процентах
per_smoke_m <- (length(which((df$smoke == 1) & (df$gender == 2)) == TRUE) / length(male))
round(per_smoke_m / per_smoke_fem)

[1] 12

_Вывод: процент курящих среди мужчин больше в 12 раз._

### Задание 4.

___1. В чём здесь измеряется возраст?___

___2. На сколько месяцев (примерно) отличаются медианные значения возраста курящих и некурящих?___

_Чтобы выяснить в чём измеряется возраст, выведем несколько записей:_

In [53]:
head(df$age)

[1] 18393 20228 18857 17623 17474 21914

_нетрудно догадаться, что возраст измеряется в днях._

In [45]:
df$age_years <- round(df$age / 365) # для удобства создадим отдельную колонку с возрастом в годах
head(df)

  id age   gender height weight ap_hi ap_lo cholesterol gluc smoke alco active
1 0  18393 2      168    62     110    80   1           1    0     0    1
2 1  20228 1      156    85     140    90   3           1    0     0    1
3 2  18857 1      165    64     130    70   3           1    0     0    0
4 3  17623 2      169    82     150   100   1           1    0     0    1
5 4  17474 1      156    56     100    60   1           1    0     0    0
6 8  21914 1      151    67     120    80   2           2    0     0    0
  cardio age_years
1 0      50
2 1      55
3 1      52
4 1      48
5 0      48
6 0      60

_Теперь же вычислим медианный возраст курящих и некурящих:_

In [49]:
median_smokers <- median(df$age_years[df$smoke == 1]) * 12 # для удобства будем сразу считать в месяцах
median_non_smokers <- median(df$age_years[df$smoke == 0]) * 12

_Вычислим разницу:_

In [50]:
median_non_smokers - median_smokers

[1] 24

### Задание 5.
___Интересуют 2 подвыборки курящих мужчин возраста от 60 до 64 лет включительно: первая с верхним артериальным давлением строго меньше 120 мм рт.ст. и концентрацией холестерина – 4 ммоль/л, а вторая – с верхним артериальным давлением от 160 (включительно) до 180 мм рт.ст. (не включительно) и концентрацией холестерина – 8 ммоль/л. Во сколько раз (округленно, round) отличаются доли больных людей (согласно целевому признаку, cardio) в этих двух подвыборках?___

In [52]:
d1 <- df$cardio[(df$gender == 2) & (df$age_years >=60) & (df$age_years <=64) & (df$smoke == 1) & (df$ap_hi < 120) & (df$cholesterol ==1)] 
d2 <- df$cardio[(df$gender == 2) & (df$age_years >=60) & (df$age_years <=64) & (df$smoke == 1) & (df$ap_hi >= 160) &(df$ap_hi < 180) & (df$cholesterol ==1)]
round(mean(d2) / mean(d1))

[1] 3

### Задание 6. 
___Постройте новый признак – BMI (Body Mass Index). Для этого надо вес в килограммах поделить на квадрат роста в метрах. Нормальными считаются значения BMI от 18.5 до 25.___

___Выбрать верные утверждения:___
1. Медианный BMI по выборке превышает норму.
2. У женщин в среднем BMI ниже, чем у мужчин.
3. У здоровых в среднем BMI выше, чем у больных.
4. В сегменте здоровых и непьющих мужчин в среднем BMI ближе к норме, чем в сегменте здоровых и непьющих женщин.

In [54]:
df$height_m <- (df$height / 100) ** 2
df$BMI <- df$weight / df$height_m

_Проверим по очереди каждое из утверждений:_

In [56]:
median(round(df$BMI))

[1] 26

In [58]:
round(mean(df$BMI[female]))

[1] 28

In [59]:
round(mean(df$BMI[male]))

[1] 27

In [61]:
round(mean(df$BMI[which(df$cardio == 0)]))

[1] 27

In [62]:
round(mean(df$BMI[which(df$cardio == 1)]))

[1] 29

In [66]:
round(mean(df$BMI[which((df$alco == 0) & (df$cardio == 0) & (df$gender == 2) == TRUE)]))

[1] 26

In [67]:
round(mean(df$BMI[which((df$alco == 0) & (df$cardio == 0) & (df$gender == 1) == TRUE)]))

[1] 27

_Вывод: верными являются утверждения 1, 4._

### Задание 7. 
___Отфильтруйте следующие сегменты пациентов (считаем это ошибками в данных):___
1. Указанное нижнее значение артериального давления строго выше верхнего.
2. Рост строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили.
3. Вес строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили.

___Сколько процентов данных (округленно, round) мы выбросили?___

In [69]:
filtred_df <- length(df$BMI[(df$ap_hi >= df$ap_lo) & (df$height >= quantile(df$height, 0.025)) & (df$height <= quantile(df$height, 0.975)) & (df$weight >= quantile(df$weight, 0.025)) & (df$weight <= quantile(df$weight, 0.975))])
unfiltred_df <- length(df$BMI)
100 - round(filtred_df / unfiltred_df *100, 0)

[1] 10